html {
    background-color:#575757;
    user-select: none;
}

body {
    margin: 0;
}

@font-face {
  font-family: customFont3;
  src: url(Anak\ Pintar.otf);
}
p {
    color: black;
    text-align: center;
    font-size: 20px;
}
div{
    position: relative;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: red;
    text-decoration: none;
}
.titleOne {
    font-family: customFont3;
    font-size: 30px;
    background-color: lightgray;
    padding: 10px;
}
.titleTwo {
    background-color: lightgray;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.description{
    font-size: 20px;
    background-color: lightgray;
    padding: 10px;
}
.canSelect{
    user-select: text;
}
.title{
    font-family: customFont3;
    font-size: 50px;
    text-align: center;
    padding: 15px;
}
.navBar{
    z-index: 10;
    padding: 10px;
    position: fixed;
    height: auto;
    width: stretch;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.navBarTxt{
    color: black;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(190, 182, 183);
    cursor: pointer;
}
#aboutMe{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.9);
    padding-top: 45px;
    padding-bottom: 25px;
}
.am{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.amTxt{
    padding: 10px;
    margin: 0px;
    font-size: 22px;
}
#works{
    background-color: rgba(121, 120, 120, 0.9);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.myWorks{
    background-color: rgba(121, 120, 120, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.mysteryMansion{
    background-color: #000000;
    display: grid;
    gap: 10px;
    padding: 20px;
    justify-items: start;
}
.virusAttack{
    background-color: violet;
    display: grid;
    gap: 10px;
    padding: 20px;
    justify-items: start;
}
.blob{
    background-color: orangered;
    display: grid;
    gap: 10px;
    padding: 20px;
    justify-items: start;
}
.pictures{
    width: 100%;
    max-width: 500px;
    background-color: lightgray;
    padding: 5px;
}
img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    z-index: 9999;
}
img {
    transition: transform .2s;
    cursor: pointer;
}
#getInTouch{
    background-color: rgba(169, 169, 169, 0.9);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 70px;
    align-items: flex-start;
}

#home{
    background-color: rgb(109, 109, 109);
    height: auto;
    padding: 10px;
    padding-top: 50px;
}