html {
    background-color:#575757;
}

body {
    margin: 0;
}

p {
    color: blueviolet;
    text-align: center;
}

.titleOne {
    color: aquamarine;
}

.titleTwo {
    color:chartreuse;
}

.snappy{
    width: 265;
}

.title{
    font-size: 50px;
    text-align: center;
}

#home{
    background-color: antiquewhite;
    height: auto;
    padding: 10px;
}